mixin block-div
  if block
    .block.block-rounded&attributes(attributes)
      .block-content
        block
  else
    - console.warn('Empty block div');

mixin bordered-block(kind, size)
  - const CLASSES = ['border-top', `border-${kind}`];
  - if (size) CLASSES.push(`border-${size}x`);

  +block-div()(class=CLASSES)&attributes(attributes)
    block

mixin btn(kind, size)
  - const CLASS = ['btn'];
  - if (kind) CLASS.push(`btn-outline-${kind}`);
  - if (size) CLASS.push(`btn-${size}`);
  button(type='button', class=CLASS)&attributes(attributes)
    block

mixin td
  td.pb-0.border-0.align-middle&attributes(attributes)
    block
